<div class="flex items-center justify-around w-full h-screen bg-black border-none">
  <div class="w-3/4 rounded-full h-2/3 lg:w-5/12 bg-pink">
  </div>
  <div class="w-3/4 rounded-full h-2/3 lg:w-5/12 bg-baby-blue">
  </div>
</div>

<%# https://dev.to/tchaflich/a-width-responsive-perfect-square-in-pure-css-3dao %>
