<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Drewface", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="flex justify-end p-4 text-blue-500 bg-black border-none">
          <%= link "H", to: Routes.page_path(@conn, :index), class: "p-4 h-auto bg-yellow rounded-full hover:bg-baby-blue" %>
          <%# <%= link "Hello!", to: Routes.hello_path(@conn, :hello), class: "mx-2 hover:text-red-500"%>
          <a href="https://hexdocs.pm/phoenix/overview.html" class="px-2 hover:text-red-500">Get Started</a></li>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "px-2 hover:text-red-500"%>
          <% end %>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
